@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Noto+Sans+Armenian:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Armenian", ui-sans-serif, system-ui, sans-serif;
  --font-arabic: "Cairo", sans-serif;
}

body {
  background-color: #e5e7eb; /* gray-200 for outer background */
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* padding: 1rem; - removed on mobile so it takes full screen */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  #root {
    padding: 2rem;
    flex-direction: row;
    gap: 20px;
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@utility animate-ripple {
  animation: ripple 0.6s linear forwards;
}
